@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Rajdhani:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Cookie:regular);



@import url('media.css');
@import url('jquery.fancybox.min.css');

html {
    
    overflow-x: hidden !important;
}

body,html {

    font-family: 'Roboto';
    width: 100%;
}

.head {
    margin-bottom: 100px;
    transition: background-color 0.5s ease;
}


.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    padding: 0 20px;
    min-height: 100px;
}




.navigation {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-list li {
    margin-left: 30px;
}

.navigation-list__links {
    color: black;
    font-size: 18px;
    transition: color 0.5s  ease;
}
.navigation-list__links:hover {
    color: rgb(255, 0, 0);
    transition: color 0.5s ease;
}

.navigation-list li:nth-child(1){
    margin-left: 0;
}


.title-block {
    text-align: center;
    margin-bottom: 30px;
}

.title {
    font-family: 'Cookie';
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* keyframes */

.logo {
    animation: logoText 1s linear alternate;
}

@keyframes logoText {

    0% {
        transform: translateY(-260%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

/* main content */



.gallery {

    display: flex;
    flex-flow: wrap;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    left: -6px;
}


.img-box {
    margin-left: 10px;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    will-change: contents;
}

.img-box:hover {
    transform: scale(1.099);
    transition: transform 0.3s ease;
    will-change: contents;
}

.gallery-line {
    width: 100%;
    background-color: silver;
    height: 1px;
    margin-bottom: 100px;
    padding: 0 15px;
}

img {
    width: 220px;
    height: 200px;
    cursor: pointer;
    border-radius: 5px;
    object-fit: cover;
    
}

.sub_li {
    position: relative;
}

.subnaviation-list {
    position: absolute;
    width: 0px;
    background-color: white;
    padding: 30px;
    transform: scale(0);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;
    border-radius: 5px;
    top: 30px;
}

 .active.subnaviation-list {
    position: absolute;
    width: 140px;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    width: 140px;
    transition: 0.3s all ease;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    z-index: 200;
}

.subnaviation-list li {
    margin-left: 0px !important;
}

/* menu-burger */


.menu-burger span {
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    display: block;
    background-color: gray;
}

/* activeScript */

.menu-burger {
    transition: transform 0.3s ease;
    width: 31px;
    display: none;
    z-index: 900;
}

.active.menu-burger {
    transform: scale(1.099) rotate(180deg);
    transition: transform 0.3s ease;
   
}

.social_links img {
    width: 60px;
    height: 60px;
}

/* sticky header */

.sticky.head {
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: #333;
    color: white;
    transition: background-color 0.5s ease;
   
}

.active.navigation-list__links {
    color: white;
}

.active.navigation-list__links:hover {
    color: crimson;
}

.mobile-popup {
    display: none;
}

.active.mobile-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.97;
    z-index: 800;
}

.navigation-mobile__list {
    display: flex;
    flex-direction: column;
}

.navigation-mobile__list > li {
    margin-bottom: 30px;

}

.navigation-mobile__list > li a {
   color: white;
   transition: 0.5s all ease;
}

.navigation-mobile__list > li a:hover {
    color: red;
    transition: 0.5s all ease;
     
 }

.navigation-mobile__list > li:nth-child(3){
    margin-bottom: 15px;
}


/* mobile sublist */

.mobilesub-list {
    background: white;
    display: flex;
    transform: scale(0);
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    transition: transform ease 0.3s ;
    will-change: contents;
}

.active.mobilesub-list {
    background: white;
    transform: scale(1);
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    transition: transform ease 0.3s ;
    will-change: contents;
}
.mobilesub-list li {
    margin-right: 10px;
}

.mobilesub-list li:nth-child(3) {
    margin-right: 0px;
}


.mobilesub-list li img {
  width: 40px;
  height: 40px;
}